.DS_Store
*.dsk
*.list
*.map
*.o

# Generated language modules and definitions
basic09/basic09_6809
basic09/basic09_6309
basic09/runb_6809
basic09/runb_6309
basic09/coco3vtio.d
basic09/gfx
basic09/gfx2
basic09/inkey
basic09/syscall
basic09/microware/cfg/
basic09/microware/.modular-build/
basic09/microware/basic09_6809
basic09/microware/basic09_6309
basic09/microware/runb_6809
basic09/microware/runb_6309
bf/bf
ccompiler/c.asm
ccompiler/cc1
ccompiler/c.prep
ccompiler/c.pass1
ccompiler/c.pass2
ccompiler/c.opt
ccompiler/c_asm
ccompiler/c.link
ccompiler/make
